* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*register button*/
.button {
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  /*
  * Disabled State
  *
  * The disabled state uses the class .disabled, is-disabled,
  * and the form attribute disabled="disabled".
  * The use of !important is only added because this is a state
  * that must be applied to all buttons when in a disabled state.
  */ }
  .button:visited {
    color: #666; }
  .button:hover, .button:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none; }
  .button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .button.disabled, .button.is-disabled, .button:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    opacity: .8 !important; }

/*
* Glowing Buttons Base Styes
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/
.button-glow {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
          animation-name: glowing; }
  .button-glow:active, .button-glow.active, .button-glow.is-active {
    -webkit-animation-name: none;
            animation-name: none; }

/*
* Glowing Button Colors
*
* Create colors for glowing buttons
*/
.button-glow.button-primary {
  -webkit-animation-name: glowing-primary;
          animation-name: glowing-primary; }
.button-glow.button-plain {
  -webkit-animation-name: glowing-plain;
          animation-name: glowing-plain; }
.button-glow.button-inverse {
  -webkit-animation-name: glowing-inverse;
          animation-name: glowing-inverse; }
.button-glow.button-action {
  -webkit-animation-name: glowing-action;
          animation-name: glowing-action; }
.button-glow.button-highlight {
  -webkit-animation-name: glowing-highlight;
          animation-name: glowing-highlight; }
.button-glow.button-caution {
  -webkit-animation-name: glowing-caution;
          animation-name: glowing-caution; }
.button-glow.button-royal {
  -webkit-animation-name: glowing-royal;
          animation-name: glowing-royal; }

/*全文检索*/
#header-search-box {
    position: absolute;
    right: 20px;
}
/*icon*/
#search-menu span {
    font-size: 20px;
}
/*search form*/
.search-form {
    display: none;
    width: 25%;
    position: absolute;
    min-width: 200px;
    right: -6px;
    top: 33px;
}
#searchform {
    position: relative;
    border: 1px solid #ddd;
    min-height: 42px;
}
#searchform input[type=search] {
    width: 100%;
    border: none;
    position: absolute;
    left: 0;
    padding: 10px 30px 10px 10px;
    z-index: 99;
}
#searchform button {
    position: absolute;
    right: 6px;
    top: 4px;
    z-index: 999;
    background: transparent;
    border: 0;
    padding: 0;
}
#searchform button span {
    font-size: 22px;
}
a {
    color: #333 !important;
    text-decoration: none !important;
}
/*鼠标滑过 以及点击 颜色加深*/
a:hover, a:focus {
    text-decoration: none;
    color: #000 !important;
}
/*read- more Button*/
.read-more {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 20px;
}

.cl-effect-14 a {
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    letter-spacing: 1px;
    font-weight: 400;
    /*text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);*/
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
    position: absolute;
    width: 45px;
    height: 1px;
    background: #C3C3C3;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}
/*left*/
.cl-effect-14 a::before {
    top: 0;
    left: 0;
    /*旋转*/
    /*Chrome & Safari*/
    -webkit-transform: rotate(90deg);
    /*Firefox*/
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    /*设置旋转元素的基点位置：*/
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*right*/
.cl-effect-14 a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
/*定义鼠标扫过链接 和点击链接的背景色*/
.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
    background: #ed0345;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
    left: 50%;
    /*X轴转换*/
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}
/*侧边栏*/
.widget {
    background: #fff;
    padding: 30px 0 0;
}
.widget-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 10px 0 0;
    font-weight: 400;
}
.widget-recent-posts ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;
}
/*最近文章list style*/
.widget-recent-posts ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    margin-bottom: 10px;
}
.widget-recent-posts ul li::before {
    content: '\f3d3';
    font-family: "Ionicons";
    position: absolute;
    left: -17px;
    top: 3px;
    font-size: 16px;
    color: #000;
}
/*分类*/
.widget-tag-cloud ul {
    padding: 0;
    margin: 0;
    margin-right: -10px;
}
.widget-tag-cloud ul li {
    list-style-type: none;
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px 8px;
    border: 1px solid #ddd;
}
/*日历style*/
.calendar{
    width:320px;
    height:350px;
    background:#fff;
    box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}
.calendar-title-st{
    height:70px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    text-align:center;
    position:relative;
}
#calendar-title{
    font-size:25px;
    font-family:arial;
    font-weight:bold;
    text-transform:uppercase;
    padding:14px 0 0 0;
}
#calendar-year{
    font-size:15px;
    font-family:arial;
    font-weight:normal;
    margin: 0;
    padding: 0;
}
#prev{
    text-indent:-9999px;
    position:absolute;
    left:0;
    top:0;
    width:60px;
    height:70px;
    background:url(images/prev.png) no-repeat 50% 50%;
}
#next{
    text-indent:-9999px;
    position:absolute;
    right:0;
    top:0;
    width:60px;
    height:70px;
    background:url(images/next.png) no-repeat 50% 50%;
}
.body{
    padding:10px 20px;
}
.body-list ul{
    width:100%;
    font-family:arial;
    font-weight:bold;
    font-size:14px;
}
.body-list ul li{
    width:14.28%;
    height:36px;
    line-height:36px;
    list-style-type:none;
    display:block;
    box-sizing:border-box;
    float:left;
    text-align:center;
}
.lightgrey{
    color:#a8a8a8;
}
.darkgrey{
    color:#565656;
}
.green{
    /*color:#6ac13c;*/
    /*color: #55ffff;*/
}
.greenbox{
    border:1px solid #6ac13c;
    background:#e9f8df;
}
/**
 * Logo
 */

.logo h1 a {
    color: #000;
}

.logo h1 a:hover {
    text-decoration: none;
    border-bottom: none;
}

.logo h1 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/*头部*/
#site-header {
    background-color: #e9fbe4;
    padding: 25px 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7e7e7;
}

.main-nav{
	margin-top: 11px;
	max-width: 95%;
}

.main-nav a {
    color: #000000 !important;
    padding: 0 0 5px 0 !important;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
}
.main-nav a:active,
.main-nav a:focus,
.main-nav a:hover {
    background-color: transparent !important;
    border-bottom: 0;
}

.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 0;
    margin-right: 25px;
}

.navbar-toggle span {
    font-size: 2em;
    color: #000;
}

.navbar-header{
	float: left;
}

.nav{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.row{
	margin-right: -15px;
	margin-left: -15px;
}

/**
 * 3.2.1 - Main Nav CSS 3 Hover Effect
 */

.cl-effect-11 a {
    padding: 10px 0;
    color: #0972b4;
    text-shadow: none;
}

.cl-effect-11 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 0 5px 0 !important;
    max-width: 0;
    border-bottom: 1px solid #000;
    color: #000;
    content: attr(data-hover);
    white-space: nowrap;
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
    max-width: 100%;
}

/*版权信息*/
.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}


/*Content*/
.content-body {
    padding-bottom: 4em;
}

.post {
    background: #fff;
    padding: 30px 30px 0;
}

.entry-title {
    text-align: center;
    font-size: 1.9em;
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 10px 20px 0;
}

.entry-meta {
    text-align: center;
    color: #DDDDDD;
    font-size: 13px;
    margin-bottom: 30px;
}

.entry-content {
    font-size: 18px;
    line-height: 1.9;
    font-weight: 300;
    color: #000;
}

.post-category::after,
.post-date::after,
.post-author::after,
.comments-link::after {
    content: ' ·';
    color: #000;
}

.entry-date{
	text-align: center;
	font-size: 13px;
	font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}

/*footer*/
.footer{
	margin-top: 100px;
	font-size: 13px;
	text-align: center;
	font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}

/*友情链接 My logo*/

.profile {
    position: relative;
    padding: 5px; 
    margin-bottom: 60px;
    text-align: center;

}

.profile img{
    opacity: 1;
    z-index: 99;
    border-radius: 100%;
    text-align: center;
    z-index: 99;
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;

}

.profile h1{
    text-align:center;
    font-size: 50px;
    margin-top: 10px;
    font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}

.profile p{
    font-size: 50px;
    margin-top: 10px;
    font-size: 20px;
    font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}

/*友情链接样式*/
.item{
     display: inline-block;
     overflow: hidden;
     margin-right: 5px;
     margin-bottom: 10px;
     width: 240px;
     height: 210px;
     border: 1px solid #e1e8ed;
     border-radius: 15px;
     background: #fff;
     letter-spacing: 1;
     font-size: 14px;
     font: Microsoft YaHei;
}

.bg{
    display: block;
    background-position: center;
    background-size: cover;
}

.link-bg{
    position: relative;
    height: 90px;
}

.link-avatar{
    position:absolute;
    border: 4px solid white;
    border-radius: 100%;
    bottom: -50px;

}

.link-avatar img{
    border-radius: 100%;
}

.avatar{
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}

@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

.meta{
    text-align: right;
    padding: .9em 1em;
}

.fsite{
    background: blue;
    color: #fff;
    padding: 5px 10px;
    opacity: .5;
}

.fsite text{
    font-weight: 500;
}

/*foot img*/

.refresh{
    width:16px;
    /*鼠标滑过显示为一个手*/
    cursor: pointer;
    /*把元素的顶端与行中最高元素的顶端对齐*/
    vertical-align: text-top;
    /*margin-top: -1px;*/
    /*图像旋转*/
    transition: all ease 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: initial;
}

/*后台管理页面*/
.login-main{
    position:relative;
}
.login-main h1{
    font-size:25px;
    color:#676767;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    padding-top: 25%;
    text-align: center;
}
.login-main form {
    width: 80%;
    margin: 0 auto;
    padding: 6% 0 9% 0;
}

.login-form {
    background:#eee;
    width: 26%;
    margin:9% auto 4% auto;
    position: relative;
    border-radius: 5%;
}

.login-head {
    position: absolute;
    top:-15%;
    left: 35%;
}
    
.login-head img {
    width: 45%;
    border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    border:6px solid rgba(221, 218, 215, 0.23);
}

 input[type="text"], input[type="password"]{
    text-align:left;
    position: relative;
    width:92%;
    padding:3%;
    background:#D3D3D3;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    font-weight:600;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    border:1px solid #DED6D6;
    -webkit-appearance:none;
}
 input[type="text"]:hover, input[type="password"]:hover{
    border:1px solid #949494;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition: 0.5s;
    
 }
/*提交按钮*/
input[type="submit"]{
    width: 99%;
    padding: 3%;
    margin-bottom: 8%;
    background: #8224e3;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    box-shadow: inset 0px 0px 10px #666464;
    -webkit-text-shadow: 0px 0px 3px #000;
    -moz-text-shadow: 0px 0px 3px #000;
    -o-text-shadow: 0px 0px 3px #000;
    -ms-text-shadow: 0px 0px 3px #000;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight:500;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-appearance:none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
input[type="submit"]:hover{
    background:#ffffff;
    color:#e8e8e8;
}


/*新建文章*/
.content-write{
    margin: 10px 20px 0 2px;
}

h1.wp-heading-inline {
    margin-bottom: .5em;
}

.wp-header-end {
    margin: -2px 0 0;
}

/*简介*/
.description-sidebar{
    float: right;
    margin-right: 100px;
    margin-top: 5px;
    width: 280px;

}

/*文章详情页面*/
.article.post{
    background: #fff;
    padding: 30px 30px 0;
}
.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}  


.error{
    color: red;
    line-height: 1px;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}


/*disqus 评论上边距*/
#disqus_head{
    background-color: #FFF;
    padding: 25px 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7e7e7;
}


/*评论政策*/
.policys-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/*hitokoto对话框*/
.message-box {

   position:relative;

   width:260px;

   height:auto;

   line-height:25px;

   background:#E9FBE4;

   box-shadow:1px 2px 3px #E9FBE4;

   border:0px solid #C9E9C0;

   border-radius:5px;

   text-align:center;

   /*color:#0C7823;*/

}

.triangle-border {

   position:absolute;

   left:30px;

   overflow:hidden;

   width:0;

   height:0;

   border-width:10px;

   border-style:solid dashed dashed dashed;

}

.tb-border {

   bottom:-20px;

   border-color:#C9E9C0 transparent transparent transparent;

}

.tb-background {

   bottom:-19px;

   border-color:#E9FBE4 transparent transparent transparent;

}


/*文章缩略图*/
.post-list {
    margin: 0 0 8% 0;
    position: relative;
}

.feature {
    position: absolute;
    margin-top: 10px;
}

.overlay {
    display: none;
}


.feature img {
    width: 52px;
    height: 52px;
}

.feature img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #DADADA;
    position: relative;
}

.feature img:hover {
    background:#a8ddb5;
}



.post-list h1.entry-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    margin: 0 0 0 17%;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}

h1.entry-title {
    font-size: 24px;
    font-weight: 300;
}

.p-time {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 12px;
    color: #989898;
    letter-spacing: 0;
    font-family: din,'Hiragino Sans GB','Microsoft Yahei',Arial,sans-serif;
}

.p-time i {
    font-size: 14px;
    margin-right: 5px;
}

.post-list p {
    min-height: 60px;
    margin: 0 0 0 17%;
    font-size: 15px;

    font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
    color: rgba(0,0,0,.66);
    letter-spacing: 0;
    line-height: 30px;
}

/*to top*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}




/*三栏*/





/*顶部*/
.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3a3f51;
}

.navbar {
    margin: 0;
    border-width: 0;
    border-radius: 0;
}

.navbar-header {
    height: 50px;
}

.bg-dark {
    color: #a6a8b1;
    background-color: #3a3f51;
}

/*站点名强制为白色显示*/
.text-lt{
    color: #eaebed!important;
}

.pull-right {
    float: right!important;
}

/*站点名距离icon左边距*/
.m-l-xs {
    margin-left: 5px;
}


/*左侧边栏*/
.aside-wrap {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 200px;
    overflow: hidden;
    background-color: #edf1f2;
}

.aside-wrap .navi-wrap {
    position: relative;
    width: 399px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.aside-wrap .navi-wrap>* {
    width: 220px;
}


.wrapper {
    padding: 15px;
}

.dropdown, .dropup {
    position: relative;
}


.thumb-lg {
    display: inline-block;
    width: 96px;
}

.m-t-sm {
    margin-top: 10px;
}

.avatar-left {
    position: relative;
    display: block;
    white-space: nowrap;
}

.avatar-radius img{
    border-radius:100%;
}

.nav-left {
     padding-left: 0; 
    margin-bottom: 0;
    list-style: none;
}

.navi ul.nav-left li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    font-weight: 400;
    text-transform: none;
    -webkit-transition: background-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s;
}

#menu-checkbox,
#menu-toggle {
  display: none;
}


.show-menu {display:block;}









/*test
*/

.bootstrap-frm {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: # FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: # 888;
    text-shadow: 1px 1px 1px # FFF;
    border:1px solid # DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.bootstrap-frm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid # DADADA;
    margin: -10px -30px 30px -30px;
    color: # 888;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}
.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
}
.bootstrap-frm label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: # 333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select{
    border: 1px solid # CCC;
    color: # 888;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm select {
    background: # FFF url('down-arrow.png') no-repeat right;
    background: # FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height:15px;
}
.bootstrap-frm textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.bootstrap-frm .button {
    background: # FFF;
    border: 1px solid # CCC;
    padding: 10px 25px 10px 25px;
    color: # 333;
    border-radius: 4px;
}
.bootstrap-frm .button:hover {
    color: # 333;
    background-color: # EBEBEB;
    border-color: # ADADAD;
}