{% extends "main.html" %}
{% block body %}
  <div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <article class="post post-1">
                    <header class="entry-header">
                        {% for entry in entries %}
                        <!-- 绑定文章详情 -->
                          <a href="{{ url_for('get_post', post_id=entry.id) }}">
                            <h2 class="entry-title">{{ entry.title}}</h2>
                          </a>
                          <p class="entry-date">Published:&nbsp<i class="fa fa-clock"></i><b>{{ entry.date }}</b>
                            Author:&nbsp<b>{{ entry.author }}</b>
                          </p>
                            <div class="entry-content clearfix">
                            {{ entry.description|safe }}
                            </div>
                        {% else %}
                          <em>Unbelievable.  No entries here so far</em>
                        {% endfor %}
                    </header>
                </article>
            </main>
        </div>
    </div>
  </div>


{% endblock %}