{% extends "main.html" %}
{% block body %}
  <div class="content-body">
    <div class="container">
        <div class="row">
          <!-- 文章 -->
            <main class="col-md-8">
                <article class="post">
                    <header class="entry-header">
                        {% for entry in entries %}
                        <!-- 绑定文章详情 -->
                          <a href="{{ url_for('get_post', post_id=entry.id) }}">
                            <h1 class="entry-title">{{ entry.title}}</h1>
                          </a>
                          <p class="entry-date">Published:&nbsp<i class="fa fa-clock"></i><b>{{ entry.date }}</b>
                            Author:&nbsp<b>{{ entry.author }}</b>
                          </p>
                            <div class="entry-content clearfix">
                            {{ entry.description|safe }}
                              <div class="read-more cl-effect-14">
                                  <a href="{{ url_for('get_post', post_id=entry.id) }}" class="more-link">Read More&nbsp<span class="meta-nav">→</span></a>
                              </div>
                            </div>
                        {% else %}
                          <em>Unbelievable.  No entries here so far!</em>
                        {% endfor %}
                    </header>
                </article>
            </main>
            <!-- 侧边栏 -->
            <aside class="col-md-4">
              <div class="widget widget-recent-posts">
                <h3 class="widget-title">最新文章</h3>
                <ul>
                  {% for posts in posts %}
                  <li><a href="{{ url_for('get_post', post_id=posts.id) }}" class="more-link">{{ posts.title }}</a></li>
                  {% else %}
                  Unbelievable.  No entries here so far！
                  {% endfor %}
                </ul>
              </div>
            </aside>
        </div>
    </div>
  </div>


{% endblock %}