{% extends "main.html" %}
{% block body %}
  <div class="content-body">
    <div class="container">
        <div class="row">
          <!-- 文章 -->
            <main class="col-md-8">
                <article class="post">
                    <header class="entry-header">
                        {% for entry in entries %}
                        <!-- 绑定文章详情 -->
                          <a href="{{ url_for('get_post', post_id=entry.id) }}">
                            <h1 class="entry-title">{{ entry.title}}</h1>
                          </a>
                          <p class="entry-date">Published:&nbsp<a href="/archives/{{ entry.date}}"><i class="fa fa-clock"></i><b>{{ entry.date }}</b></a>
                            Author:&nbsp<b>{{ entry.author }}</b>
                          </p>
                            <div class="entry-content clearfix">
                            {{ entry.description|safe }}
                              <div class="read-more cl-effect-14">
                                  <a href="{{ url_for('get_post', post_id=entry.id) }}" class="more-link">Read More&nbsp<span class="meta-nav">→</span></a>
                              </div>
                            </div>
                        {% else %}
                          <em>Unbelievable.  No entries here so far!</em>
                        {% endfor %}
                    </header>
                </article>
            </main>
            <!-- 侧边栏 -->
            <aside class="col-md-4">
              <!-- 最新的两篇文章 -->

              <div class="widget widget-recent-posts">
                <h3 class="widget-title">最新文章</h3>
                <ul>
                  {% for posts in posts %}
                  <li><a href="{{ url_for('get_post', post_id=posts.id) }}" class="more-link">{{ posts.title }}</a></li>
                  {% else %}
                  Unbelievable.  No entries here so far！
                  {% endfor %}
                </ul>
              </div>
              <!-- 分类 -->
              <div class="widget widget-tag-cloud">
                <h3 class="widget-title">标签云</h3>
                <ul>
                  {% for entry in entries %}
                  <li><a href="{{ url_for('get_post', post_id=entry.id) }}" class="more-link">{{ entry.tags }}</a></li>
                  {% else %}
                  Unbelievable.  No entries here so far！
                  {% endfor %}
                </ul>
              </div>
              <!-- 日历 -->
              <div class="widget widget-calendar">
                <h3 class="widget-title">日历</h3>
<!--                 <ul>   
                </ul> -->
                <div class="calendar">
                  <div class="calendar-title-st">
                    <h1 class="green" id="calendar-title">Month</h1>
                    <h2 class="green small" id="calendar-year">Year</h2>
                    <a href="" id="prev">Prev Month</a>
                    <a href="" id="next">Next Month</a>
                  </div>
                  <div class="body">
                    <div class="lightgrey body-list">
                      <ul>
                        <li>MON</li>
                        <li>TUE</li>
                        <li>WED</li>
                        <li>THU</li>
                        <li>FRI</li>
                        <li>SAT</li>
                        <li>SUN</li>
                      </ul>
                    </div>
              <div class="darkgrey body-list">
                <ul id="days">
                </ul>
              </div>
          </div>
        </div>
                      </div>
                      <!-- end -->
            </aside>
        </div>
    </div>
  </div>


{% endblock %}