{% extends "main.html" %}
{% block body %}
  <div class="content-body">
    <div class="container">
        <div class="row">
          <!-- 文章 -->
            <main class="col-md-8">
                <article class="post">
                    <header class="entry-header">
                        {% for item in item %}
                        <!-- 绑定文章详情 -->
                          <a href="{{ url_for('get_post', post_id=item[0]) }}">
                            <h1 class="entry-title">{{item[1]}}</h1>
                          </a>
                          <p class="entry-date">Published:&nbsp<i class="fa fa-clock"></i><b>{{item[2]}}</b>
                            Author:&nbsp<b>{{item[3]}}</b>
                          </p>
                            <div class="entry-content clearfix">
                            {{ item[0]|safe }}
                              <div class="read-more cl-effect-14">
                                  <a href="{{ url_for('get_post', post_id=item[4]) }}" class="more-link">Read More&nbsp<span class="meta-nav">→</span></a>
                              </div>
                            </div>
                        {% else %}
                          <em>Unbelievable.  No entries here so far!</em>
                        {% endfor %}
                    </header>
                </article>
            </main>
            <!-- 侧边栏 -->

        </div>
    </div>
  </div>


{% endblock %}