{% extends "main.html" %}
{% block body %}
<div>
<main class="col-md-12 col-center-block">
	<article class="post post-{{ item[0] }}">
		<header class="entry-header">
            <h1 class="entry-title">{{ item[4] }}</h1>
            <div class="entry-meta">
                <span class="post-category">
                    <a href="/category/1/">{{ item[6] }}</a></span>
                <span class="post-date"><a href="/archive/{{ item[2] }}"><time class="entry-date">{{ item[2] }}</time></a></span>
                <span class="post-author">
                    <a href="{{ url_for('user', userid=item[3])}}">作者页面</a>
                </span>
{#                <span class="views-count"><a href="#">10054 阅读</a></span>#}
            </div>
        </header>
        <div class="entry-content clearfix">
		{#jinja safe 过滤器 实现文本->html#}
		    {{ item[1] | safe }}
		</div>


<!-- Disqus -->
        <div id="disqus_head"></div>
<div id="disqus_thread"></div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://blog-codedraw-cn.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</main>
</div>
{% endblock %}