{% extends "main.html" %}
{% block body %}
                                <div style="text-align: center; font-size: 30px;margin-top: 10px;
font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;">本博客的评论政策</div>

                        <br>
                        <div class="policys-container"><h1 id="总则"><a href="# 总则" class="headerlink"
                                                                                title="总则"></a>总则</h1>
                            <ul>
                                <li>访客在 <code>SyNr's Blog</code> 发布评论时就意味着 <strong>已经无条件接受</strong> 本评论政策的 <strong>所有条款</strong>
                                </li>
                                <li><code>SyNr</code> <strong>有权随时调整</strong> 本评论政策，而且 <strong>没有任何义务</strong>
                                    对过去进行过评论的访客进行特别通告
                                </li>
                                <li>当一条评论同时符合「可接受内容」和「不可接受内容时」，此评论会被删除</li>
                                <li>任何一个评论内容是否符合评论政策，<strong>由</strong> <code>SyNr</code> <strong>全权决定</strong></li>
                                <li><code>SyNr</code> 有权在没有进行特别通告的情况下 <strong>修改评论内容</strong></li>
                                <li>访客在 <code>SyNr's Blog</code> 发布的 <strong>所有评论</strong> ， <strong>一律视为使用</strong>
                                    <code>CC BY-NC-SA 3.0 Unported</code> 协议 <strong>共享</strong>。
                                </li>
                            </ul>
                            <h1 id="可接受的评论"><a href="# 可接受的评论" class="headerlink" title="可接受的评论"></a>可接受的评论</h1><h4><code>SyNr's Blog</code>
                                接受任何符合以下类型的评论：</h4>
                            <ul>
                                <li>关于文章内容的询问</li>
                                <li>对文章内容提出质疑或补充</li>
                                <li>其它正常表示情绪的内容</li>
                            </ul>
                            <h1 id="不允许发布的评论"><a href="# 不允许发布的评论" class="headerlink" title="不允许发布的评论"></a>不允许发布的评论</h1>
                            <h4 id="任何以下类型的评论将不会通过审核并可能被删除："><a href="# 任何以下类型的评论将不会通过审核并可能被删除：" class="headerlink"
                                                                title="任何以下类型的评论将不会通过审核并可能被删除："></a>
                                任何以下类型的评论将不会通过审核并可能被删除：</h4>
                            <ul>
                                <li>广告或与文章内容毫无关联的低质量内容（SPAM）</li>
                                <li>不宜在工作时间内查看的内容的（NSFW）</li>
                                <li>令大部分人群感到不快的内容</li>
                                <li>极端主义、恐怖主义、与社会主流意识不符，或在社会上有反对的先例</li>
                            </ul>
                            <h4 id="您评论内容中的第二人称词汇可能会由系统自动替换为第一人称，如果你的评论中包含下述内容："><a
                                    href="# 您评论内容中的第二人称词汇可能会由系统自动替换为第一人称，如果你的评论中包含下述内容：" class="headerlink"
                                    title="您评论内容中的第二人称词汇可能会由系统自动替换为第一人称，如果你的评论中包含下述内容："></a>您评论内容中的第二人称词汇可能会由系统自动替换为第一人称，如果你的评论中包含下述内容：
                            </h4>
                            <ul>
                                <li>任何被认为或可能被认为是侮辱性或包含谩骂性质的词汇、语句</li>
                            </ul>
                            <blockquote
                                    style="margin:2em 0 0;padding:.5em 1em;border-left:3px solid #f44336;background-color:#f5f5f5;list-style:none">
                                <p><strong>本文作者：<a href="https://nfz.moe">SyNr</a></strong><br><strong>本文采用 <a
                                        rel="nofollow noopener"
                                        href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh"
                                        target="_blank">CC BY-NC-SA 3.0 Unported</a> 协议进行许可，阅读 <a
                                        href="/creativecommons.html"
                                        target="_blank">相关说明</a></strong><br><strong>本文链接：</strong><a
                                        href="https://blog.codedraw.cn/policy">https://blog.codedraw.cn/policy</a>
                                </p></blockquote>
                            <blockquote id="date-expire-notification"
                                        style="margin:2em 0 0;padding:.5em 1em;background:#ffffc0;border-left:3px solid #fff000;list-style:none">
                                本文最后更新于 185 天前，文中所描述的信息可能已发生改变。
                            </blockquote>
                            <script>var dateUpdate = Date.parse("2018-05-12"), nowDate = new Date,
                                a = nowDate.getTime(), b = a - dateUpdate, daysUpdateExpire = Math.floor(b / 864e5);
                            daysUpdateExpire >= 120 ? document.getElementById("date-expire-notification").innerHTML = "本文最后更新于 " + daysUpdateExpire + " 天前，文中所描述的信息可能已发生改变。" : document.getElementById("date-expire-notification").style.display = "none"</script>
                        </div>
                        </div>

{% endblock %}