{% extends "main.html" %}
{% block body %}
<div class="content-write">
    <form action="{{ url_for('add_entry') }}" method=post>
        <h1 class="wp-heading-inline">撰写新文章</h1>
        <hr class="wp-header-end">
                <label>在此输入标题<input size="30" name="title" type="text"></label>
            <div class="description-sidebar">
                <label>在此输入作者<input type=text size=30 name=author></label>
                <label>在此输入标签<input type=text size=30 name=tags></label>
            </div>
            <label>在此输入简述<input name=description type="text" size="30"></label>
            <label>在此输入日期<input type="date"  size=30 name="date"></label>
            <textarea name="content" id="editor1" class="ckeditor" rows="10" cols="80">
            
            </textarea>
            <dd><input type=submit value=Submit>

    </form>
</div>
<!-- <div class="button-sub">
  <p>Click me</p>
</div> -->

<!-- <div id="datepicker"></div> -->

{% endblock %}
