<!DOCTYPE html>
<html>
<head>
  <title>User Register</title>
    <meta charset="utf-8">
    <!-- css -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
{#{% extends "base.html" %}#}

{#{% block content %}#}
{#    <h1>Register</h1>#}
{#    <form action="" method="post">#}
{#        {{ form.hidden_tag() }}#}
{#        <p>#}
{#            {{ form.username.label }}<br>#}
{#            {{ form.username(size=32) }}<br>#}
{#            {% for error in form.username.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.email.label }}<br>#}
{#            {{ form.email(size=64) }}<br>#}
{#            {% for error in form.email.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.password.label }}<br>#}
{#            {{ form.password(size=32) }}<br>#}
{#            {% for error in form.password.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.password2.label }}<br>#}
{#            {{ form.password2(size=32) }}<br>#}
{#            {% for error in form.password2.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>{{ form.submit() }}</p>#}
{#    </form>#}
{#{% endblock %}#}
    <div class="login-main">
  <div class="login-form">
    <h1>User Register</h1>
          <div class="login-head">
            <img src="static/images/user.jpg" alt=""/>
          </div>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul style="text-align: center; list-style: none">

            {% for message in messages %}
            <li><p style="color:red">{{ message }}</p></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=64) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

    </form>
  <p style="text-align: center;padding-bottom: 50px">Already have an account?<a href="{{ url_for('login') }}">Log in</a></p>
  </div>
</div>
</body>
